@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
    --main-color: #3586ff;
    --dody-bg: #fff;
    
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

body{
    width: 100%;
    height: 100vh;
    place-items: center;
    font-family: cursive;
    background-color: var(--dody-bg);
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    /* padding-left: 200px;
    padding-right: 200px; */
    background-color: #020106;

}


h1{
    padding-top: 100px;
    display:block;
    font-weight: 600;
    color: white;
    text-align: center;
}


/* ----------genre selection ---------- */
#filter-svg{
    display: none;
}

.button-box{
    display: inline-block;
    /* align-items: center; */
    width: 300px;
    height: 300px;
    margin: 20px;
    padding-left: 5%;
    padding-right: 5%;
}


.btn{
    margin: 100px;
    width: 150px;
    height: 150px;
    border: none;
    outline: none;
    border-radius: 30% 70% 70% 30%/ 30% 30% 70% 70%;
    font-size: 23px;
    font-weight: 600;
    font-family: cursive;
    cursor: pointer;
    background-color:rgb(255, 54, 121);
    color: black;
    filter: url(#goo);
    display: inline-block;
}


input[type=checkbox]{
    display: none;

}

input[type=checkbox]:checked + label{
    background-color:  var(--main-color);

}

.btn .btn-goo-box{
    border-radius: 50%;
    position: absolute;
    background-color: var(--main-color);
    transition: all 0.3s cubic-bezier(0.75, 0.32, 0, 0.93);
    z-index: -1;
}

.btn-txt{
    text-align: center;
    display: inline-block;
    padding-top: 55px;
    padding-left: 16px;
    width: 130px;
    height: 100px;
    z-index: 1;
    box-sizing:border-box;
    color: white;
}


.btn .btn-goo-box:nth-child(2){
    width: 90px;
    height: 90px;
    top: calc(50% - 50px);
    right: calc(50% - 50px);
    background-color: rgb(255, 54, 121);
}

.btn .btn-goo-box:nth-child(3){
    width: 40px;
    height: 40px;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    background-color: #ff3679;
}

.btn .btn-goo-box:nth-child(4){
    width: 60px;
    height: 60px;
    top: calc(50% - 35px);
    right: calc(50% - 35px);
    border-radius: 50px;
    background-color:rgb(255, 54, 121);
}
input[type=checkbox]:checked + .btn .btn-goo-box:nth-child(2){
    right: -50px;
    top: 70%;
    /* transition: all .1s ease-in-out; */
    background-color: var(--main-color);
    /* transition-timing-function: ease-out; */
}
input[type=checkbox]:checked + .btn .btn-goo-box:nth-child(3){
    left: -60px;
    background-color: var(--main-color);
    /* transition-timing-function: ease-out; */
}
input[type=checkbox]:checked + .btn .btn-goo-box:nth-child(4){
    top: -40%;
    background-color: var(--main-color);
    /* transition-timing-function: ease-out; */
}
.space{
    display: block;
    height: 250px;
}

.submit{
    position:absolute;
    left: 47%;
    display: block;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    padding: 10px 15px;
    margin-top: 80px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    background-color:  var(--main-color);
    box-sizing: border-box;
    text-decoration-line: none;
}