<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">

	<th:block th:fragment="content">
	<a th:href="@{/event/register}">
	<button type="button" class="btn btn-outline-primary" style="float: right">등록</button>
				<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">번호</th>
					<th scope="col">제목</th>
					<th scope="col">리뷰</th>
					<th scope="col">평점평균</th>
					<th scope="col">등록일</th>
				</tr>
			</thead>
			<tbody>
			<tr th:each="dto : ${result}">
					<th scope="row">[[${dto.eventnum}]]</th>
					    <td>[[${dto.eventtitle}]]</td>
					    <td>[[${dto.reviewCnt}]]</td>
					    <td>[[${dto.avg}]]</td>
					<td>[[${#temporals.format(dto.regDate,'yyyy/MM/dd')}]]</td>
			</tr>
			</tbody>
		</table>
		
	</th:block>
</th:block>
