<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">

	<th:block th:fragment="content">
		<h1 class="mt-4">영화 조회</h1>


		<div class="form-group">
			<label>제목</label> <input type="text" class="form-control"
				name="title" th:value="${dto.title}" readonly>
		</div>

		<div class="form-group">
			<label>리뷰 수</label> <input type="text" class="form-control"
				name="reviewCnt" th:value="${dto.reviewCnt}" readonly>
		</div>

		<div class="form-group">
			<label>별점 평균</label> <input type="text" class="form-control"
				name="avg" th:value="${dto.avg}" readonly>
		</div>



		<div class="uploadResult">
			<ul>
				<li th:each="movieImage: ${dto.imageDTOList}"><img
					th:if="${movieImage.path != null}"
					th:src="|/display?fileName=${movieImage.getThumbnailURL()}|">
				</li>
			</ul>
		</div>
		<button type="button" class="btn btn-primary">
			리뷰 보기 <span class="badge badge-light"> [[${dto.reviewCnt}]] </span>
		</button>


		<button type="button" class="btn btn-info addReviewBtn">
			리뷰 등록 <span class="badge badge-light"> [[${dto.reviewCnt}]] </span>
		</button>





		<div class="list-group reviewList"></div>
		<style>
.uploadResult {
	width: 100%;
	background-color: gray;
	margin-top: 10px;
}

.uploadResult ul {
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
	vertical-align: top;
	overflow: auto;
}

.uploadResult ul li {
	list-style: none;
	padding: 10px;
	margin-left: 2em;
}

.uploadResult ul li img {
	width: 100px;
}
</style>

		<div class="uploadResult">
			<ul>

			</ul>
		</div>

		<!-- Modal 추가 -->
		<div class="modal reviewModal" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h3>영화 리뷰</h3>
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label>리뷰어 아이디</label> <input class="form-control" type="text"
								name="mid" placeholder="review text...">
						</div>




						<div class="modal-body">
							<div class="form-group">
								<label>별점<span class="grade"></span>
								</label>
								<div class="starrr"></div>
							</div>


							<div class="form-group">
								<label>리뷰</label> <input class="form-control" type="text"
									name="text" placeholder="Good Movie!">
							</div>

						</div>


						<div class="modal-footer">
							<button type="button" class="btn btn-danger removeBtn">Remove</button>
							<button type="button" class="btn btn-warning modifyBtn">Modify</button>
							<button type="button" class="btn btn-primary saveBtn">Save</button>
							<button type="button"
								class="btn btn-outline-secondary replyClose"
								data-dismiss="modal">Close</button>
							<!-- <button type="button" class="btn btn-primary">Save</button> -->
						</div>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal-dialog -->
			</div>
			<!-- /.modal -->
			<div class="imageModal modal" tabindex="-2" role="dialog">
				<div class="modaldialog modal modal-lg" role="document">
					<div class="modal-contnet">
						<div class="modal-header">
							<h5 class="modal-title">포스터</h5>
							<button type="button" class="close" data-dismiss="modal"
								aria-level="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>


						<div class="modal-body"></div>

						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								data-dismiss="modal">close</button>
						</div>

					</div>
				</div>
			</div>
		</div>

		<script th:src="@{/starrr.js}"></script>
		<link th:href="@{/css/starrr.css}" rel="stylesheet">
		<link rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css"
			integrity="sha512-ZfKn7az0YmtPUojZnRXO4CUdt3pn+ogBAyGbqGplrCIR5B/tQwPGtF2q29t+zQj6mC/20w4sSl0cF5F3r0HKSQ=="
			crossorigin="anonymous" referrerpolicy="no-referrer" />


     <script> 
      $(document).ready(function(e){
         var grade = 0;
         var mno = [[${dto.mno}]];
        
         
         $('.starrr').starrr({
            rating: grade,
            change: function(e, value){
               if(value){
                  console.log(value);
                  grade=value;
               }
            }
         });
         
         var reviewModal = $(".reviewModal");
         var inputMid = $('input[name="mid"]');
         var inputText = $('input[name="text"]');
         
         $(".addReviewBtn").click(function(){
           inputMid.val("");
           inputText.val("");
           
           $(".removeBtn, .modifyBtn").hide();
           
           $(".reviewModal").modal("show");
           
         });
         
         $('.saveBtn').click(function(){
            var data={mno:mno, grade:grade, text:inputText.val(), mid:inputMid.val()};
            console.log(data);
            
            $.ajax({
               url: '/reviews/' + mno,
               type: "post",
               data: JSON.stringify(data),
               contentType: "application/json; charset=utf-8",
               dataType:"text",
               success:function(result){
                  console.log("success result:" + result);
                  self.location.reload();
               }
            });
            reviewModal.modal("hide"); 
         });
         
         function getMovieReviews(){
            function formatTime(str){
               var date = new Date(str);
               return date.getFullYear() + "/" + (date.getMonth() +1) + "/" + date.getDate() + ' ' 
                                    +date.getHours() + ":" + date.getMinutes();
            }
            $.getJSON("/reviews/" + mno + "/all", function(arr){
               
               var str = "";
               $.each(arr, function(idx, review){
                  console.log("review : " + review);
                  
                  str += ' <div class="card-body" data-reviewnum=' + review.reviewnum + ' data-mid=' + review.mid + '>';
                  str += '   <h5 class="card-title">' + review.text + '<span>' + review.grade + '</span></h5>';
                  str += '   <h6 class="card-subtitle mb-2 text-muted">' + review.nickname + '</h6>';
                  str += '   <p class="card-text">' + formatTime(review.regDate)+ '</p>';
                  str += ' </div>';
               });
               $(".reviewList").html(str);
            });
         }
         
         getMovieReviews();
         
         var reviewnum;
       
        //prevent submit
          $(".reviewList").on("click", ".card-body", function(e) {

        	/*   $(".saveBtn").hide(); */
			  $(".removeBtn, .modifyBtn").show();
			  var targetReview = $(this);
			  
			  reviewnum = targetReview.data("reviewnum");
			  
			  console.log("reviewnum : " + reviewnum);	
			  
			  inputMid.val(targetReview.data("mid"));
			  inputText.val(targetReview.find('.card-title').clone().children().remove().end().text());
			  
			  var grade = targetReview.find('.card-title span').html();
			  console.log(grade);
			  $(".starrr a:nth-child("+grade+")").trigger("click");
			  
			  
			  $('.reviewModal').modal('show');
			  
          	});
        
        $(".modifyBtn").on("click", function(){
        
        	var data = {reviewnum: reviewnum, mno:mno, grade:grade, text:inputText.val(),
        				mid:inputMid.val()};
        	
        	console.log("data : " + data);
        	
        	$.ajax({
        		url: '/reviews/'+mno+"/"+reviewnum,
        		type: "PUT",
        		data: "JSON" .stringify(data),
        		contentType: "text",
        		success: function(result){
        			console.log("result : " + result);
        			self.location.reload();
        		}
        	});
        	
        	reviewModal.modal('hide');
        	
        });
        
        $(".removeBtn").on("click", function(){
        	
        	var data = {reviewnum:reviewum};
        	console.log("reviewnum : " + reviewnum);
        	
        	$.ajax({
        		url: '/reviews/'+mno+'/'+reviewnum,
        		type: "DELETE",
        		contentType: "application/json; charset=utf-8",
        		dataType: "text",
        		success: function(result){
        			console.log("result : " + result);
        			self.location.reload();
        		}
        	});
        	reviewModal.modal('hide');
        });
      });  // document ready
      
    </script>


	</th:block>
</th:block>