<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bookflip.css">
   <!-- page move -->
    <script type="text/javascript" src="/js/pageMove.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
</body>
</head>
<body>
    <a href="javascript:main();" onclick="pageInsert();" class="btn-close">X</a>
    <div class="book">
        <input type="checkbox" id="c1">
        <input type="checkbox" id="c2">
        <input type="checkbox" id="c3">
        <input type="checkbox" id="c4">
        <input type="checkbox" id="c5">

        <div class="flip-book">
            <div class="flip" id="p1">
                <div class="front">
                    <img src="/images/bookpage_right.jpg">
                    <label class="next-btn" for="c1" onclick="pageSum(1)">Next</label>
                </div>
                <div class="back">
                    <img src="/images/bookpage_left.jpg">
                    <label class="back-btn" for="c1" onclick="pageSum(0)">Back</label>
                </div>
            </div>

            <div class="flip" id="p2">
                <div class="front">
                    <img src="/images/bookpage_right.jpg">
                    <label class="next-btn" for="c2" onclick="pageSum(1)">Next</label>
                </div>
                <div class="back">
                    <img src="/images/bookpage_left.jpg">
                    <label class="back-btn" for="c2" onclick="pageSum(0)">Back</label>
                </div>
               
            </div>
            <div class="flip" id="p3">
                <div class="front">
                    <img src="/images/bookpage_right.jpg">
                    <label class="next-btn" for="c3" onclick="pageSum(1)">Next</label>
                </div>
                <div class="back">
                    <img src="/images/bookpage_left.jpg">
                    <label class="back-btn" for="c3" onclick="pageSum(0)">Back</label>
                </div>
            </div>

            <div class="flip" id="p4">
                <div class="front">
                    <img src="/images/bookpage_right.jpg">
                    <label class="next-btn" for="c4" onclick="pageSum(1)">Next</label>
                </div>
                <div class="back">
                    <img src="/images/bookpage_left.jpg">
                    <label class="back-btn" for="c4" onclick="pageSum(0)">Back</label>
                </div>             
            </div>

            <div class="flip" id="p5">
                <div class="back">
                    <img src="/images/bookpage_left.jpg">
                    <label class="back-btn" for="c5" onclick="pageSum(0)">Back</label>
                </div>
                <div class="front">
                    <img src="/images/bookpage_right.jpg">
                    <label class="next-btn" for="c5" onclick="pageSum(1)">Next</label>
                </div>             
            </div>
        </div>
        
      
    </div>
	<script th:inline="javascript">
	let pageNum = 1;
	function pageSum(result){
		if (result === 1){
			pageNum = pageNum + 2;
		} else{
			pageNum = pageNum - 2;
		}
		
		if (pageNum === 11){
			pageNum = 10;
		}
	}
	
	/*<![CDATA[*/
	function pageInsert(){
		let auth = localStorage.getItem("Authorization");
		let page = String(pageNum);
		let bookNum = '[[${bookNum}]]';
		let data = {bookNums:bookNum, bookPage:page};
				
		console.log(data);
		
		$.ajax({
			url: '/main/pageInsert',
			type:"post",
			data:JSON.stringify(data),
			headers: {
				"Authorization" : auth
			},
			contentType:"application/json; charset=UTF-8",
			dataType:"text",
			success: function(result){
				console.log("page success");
			}
		});	
		
	}
	/*]]>*/
	</script>

</body>
</html>
