<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<title>Upload Test</title>
</head>
<body>
	<h1>API Test</h1>
	<div>
		<h3>장르1</h3>
		<p class=a1></p>
		<h3>장르2</h3>	
		<p class=a2></p>
		<h3>장르3</h3>	
		<p class=a3></p>
	</div>		
<script src="https://code.jquery.com/jquery-3.6.3.min.js" 
integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" 
crossorigin="anonymous"></script>
<script>		
	let result = 1;
	let result2 = 1;
	let resultCount = 1;
	getBookColum();
	
	function getBookColum() {
		for (var i = 1; i < 255; i++){
			$.ajax({
				method: "GET",
				url: "https://dapi.kakao.com/v3/search/book?target=price",
				data: {query:i	},
				headers: {Authorization: "KakaoAK b1785652a5dc86e00e0c2a8012bf613d"}
			})
				.done(function(msg){
					result2++;
					if (result2%100 == 0){
						result++;
					}
					var data={bookNum:i, bookTitle:(String)(msg.documents[0].title), bookGerne:result, bookThumbnail:(String)(msg.documents[0].thumbnail),bookLike:0, bookPage:10}
					console.log((String)(msg.documents[0].title));
					
					$.ajax({
						url: '/main/insert',
						type:"post",
						data:JSON.stringify(data),
						contentType:"application/json; charset=UTF-8",
						dataType:"text",
						success: function(result){
							console.log("success result : " + result);
						}
					});			
			});
		}
	}
	
	//for (y = 1; y < 50; y++){
		//setTimeout(function(){
			//getBookColum();
			//resultCount = resultCount + 256;
		//}, y*40000);		
	//}

</script>
</body>
</html>