<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genre Selection Page</title>
    <!-- ----- css -----  -->
    <link rel="stylesheet" href="/css/category.css">
    <!-- ----- google font -----  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
	
    <!-- page move -->
    <script type="text/javascript" src="/js/pageMove.js"></script>
</head>
<body>
     <!-- ---------- header 호출 start ----------  -->
     <div data-include-path="/aside/header.html"></div>
     <!-- ---------- header 호출 end ----------  -->

     
    <h1>좋아하는 장르를 선택해주세요.</h1>
    <div class="button-box">
        <input type="checkbox" id="check-box1" name="check" onclick="count_check(this);" value="1">
        <label for="check-box1" class="btn">
            <span class="btn-txt">#로맨스</span>
            <span class="btn-goo-box"></span>
            <span class="btn-goo-box"></span>
            <span class="btn-goo-box"></span>
        </label>
    </div>

    <div class="button-box">
        <input type="checkbox" id="check-box2" name="check" onclick="count_check(this);" value="2">
        <label for="check-box2" class="btn">
            <span class="btn-txt">#액션</span>
            <span class="btn-goo-box"></span>
            <span class="btn-goo-box"></span>
            <span class="btn-goo-box"></span>
        </label>
    </div>

    <div class="button-box">
        <input type="checkbox" id="check-box3" name="check" onclick="count_check(this);" value="3">
        <label for="check-box3" class="btn">
            <span class="btn-txt">#장편소설</span>
            <span class="btn-goo-box"></span>
            <span class="btn-goo-box"></span>
            <span class="btn-goo-box"></span>
        </label>
    </div>

    <div class="button-box">
        <input type="checkbox" id="check-box4" name="check" onclick="count_check(this);" value="4">
        <label for="check-box4" class="btn">
            <span class="btn-txt">#만화</span>
            <span class="btn-goo-box"></span>
            <span class="btn-goo-box"></span>
            <span class="btn-goo-box"></span>
        </label>
    </div>

    <div class="button-box">
        <input type="checkbox" id="check-box5" name="check" onclick="count_check(this);" value="5">
        <label for="check-box5" class="btn">
            <span class="btn-txt">#추리</span>
            <span class="btn-goo-box"></span>
            <span class="btn-goo-box"></span>
            <span class="btn-goo-box"></span>
        </label>
    </div>

    <div class="button-box">
        <input type="checkbox" id="check-box6" name="check" onclick="count_check(this);" value="6">
        <label for="check-box6" class="btn">
            <span class="btn-txt">#교육</span>
            <span class="btn-goo-box"></span>
            <span class="btn-goo-box"></span>
            <span class="btn-goo-box"></span>
        </label>
    </div>

    <div class="button-box">
        <input type="checkbox" id="check-box7" name="check" onclick="count_check(this);" value="7">
        <label for="check-box7" class="btn">
            <span class="btn-txt">#에세이</span>
            <span class="btn-goo-box"></span>
            <span class="btn-goo-box"></span>
            <span class="btn-goo-box"></span>
        </label>
    </div>

    <div class="button-box">
        <input type="checkbox" id="check-box8" name="check" onclick="count_check(this);" value="8">
        <label for="check-box8" class="btn">
            <span class="btn-txt">#유아</span>
            <span class="btn-goo-box"></span>
            <span class="btn-goo-box"></span>
            <span class="btn-goo-box"></span>
        </label>
    </div>

    <div class="button-box">
        <input type="checkbox" id="check-box9" name="check" onclick="count_check(this);" value="9">
        <label for="check-box9" class="btn">
            <span class="btn-txt">#건강</span>
            <span class="btn-goo-box"></span>
            <span class="btn-goo-box"></span>
            <span class="btn-goo-box"></span>
        </label>
    </div>

    <div class="button-box">
        <input type="checkbox" id="check-box10" name="check" onclick="count_check(this);" value="10">
        <label for="check-box10" class="btn">
            <span class="btn-txt">#경제</span>
            <span class="btn-goo-box"></span>
            <span class="btn-goo-box"></span>
            <span class="btn-goo-box"></span>
        </label>
    </div>

    <div class="button-box">
        <input type="checkbox" id="check-box11" name="check" onclick="count_check(this);" value="11">
        <label for="check-box11" class="btn">
            <span class="btn-txt">#역사</span>
            <span class="btn-goo-box"></span>
            <span class="btn-goo-box"></span>
            <span class="btn-goo-box"></span>
        </label>
    </div>

    <div class="button-box">
        <input type="checkbox" id="check-box12" name="check" onclick="count_check(this);" value="12">
        <label for="check-box12" class="btn">
            <span class="btn-txt">#과학</span>
            <span class="btn-goo-box"></span>
            <span class="btn-goo-box"></span>
            <span class="btn-goo-box"></span>
        </label>
    </div>

    <a href="#" class="submit" onclick="submitClick()">완료하기</a>
    
    <div class="space"></div>
    
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" id="filter-svg">
    <defs>
        <filter id="goo">
            <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
            <feColorMatrix in="blur" type="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo" />
            <feBlend in="SourceGraphic" in2="goo" />
          </filter>
    </defs>
</svg>   


<!-- ---------- check box 선택 개수 제한 start ----------  -->
<script>
function count_check(obj){
    var checkBox = document.getElementsByName("check"); // name 값 check를 불러옴 
    var checkCount = 0; // checkCount 변수 초기값 설정
    for(var i = 0; i < checkBox.length; i++){
        if(checkBox[i].checked){ // checlBox가 checked 됐을 경우 
            checkCount++; // 1씩 증가
        }
    }
    if(checkCount > 2){ // 조건문으로 checkCount가 2개보다 클 경우
        alert("2개까지 체크할 수 있습니다."); // alert 띄움
        obj.checked = false; // false 주고 이후에 checked되지 않도록 설정
        return false;
    }
}
</script>
<!-- ---------- check box 선택 개수 제한 end ----------  -->


<!-- ---------- footer 호출 start---------- -->
<div data-include-path="/aside/movingfooter.html"></div>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

<script>
    window.addEventListener('load', function() {
        var allElements = document.getElementsByTagName('*');
        Array.prototype.forEach.call(allElements, function(el) {
            var includePath = el.dataset.includePath;
            if (includePath) {
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function () {
                    if (this.readyState == 4 && this.status == 200) {
                        el.outerHTML = this.responseText;
                    }
                };
                xhttp.open('GET', includePath, true);
                xhttp.send();
            }
        });
    });

    function submitClick() {
	    let auth = localStorage.getItem("Authorization");
	    let checkBox = $("input[name=check]");
	    let checkData = "";
	    for (let i = 0; i < checkBox.length; i++) {
		    if (checkBox[i].checked) {
			    if (checkData === "") {
				    checkData += checkBox[i].value + ",";
			    } else {
				    checkData += checkBox[i].value;
			    }
		    }
	    }
	    if (checkData.endsWith(",") == true) {
		    checkData = checkData.replace(",", "");
	    }
	    console.log(checkData);
	
	    let jsonData = {
		    "memberGenre": checkData
	    };
	
	    $.ajax({
		    url: '/member/category',
		    contentType: "application/json",
		    data: JSON.stringify(jsonData),
		    type: "POST",
		    headers: {
			    "Authorization": auth
		    },
		    dataType: 'text',
		    success: function (data) {
			    console.log("complete" + data);
			    $.ajax({
				    url: "/main/main",
				    contentType: "application/json",
				    type: "post",
				    headers: {
					    "Authorization": auth
				    },
				    dataType: "text",
				    success: function (result) {
					    console.log("success result : " + result);
					    let url = "/main/main?name=" + result;
					    console.log(url);
					    location.replace(url);
				    },
				    error: function (textStatus) {
					    console.log(textStatus + "왜 이게 나와");
				    }
			    })
		    },
		    error: function (jqXHR, textStatus, errorThrown) {
			    console.log("왜 안될까" + textStatus);
		    }
	    });
    }
</script>
<!-- ---------- footer 호출 end---------- -->
</body>
</html>