<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genre Selection Page</title>
    <link rel="stylesheet" href="/project/css/genreselection.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>
<body>
    <div class="header">
        <nav class="nav-bar1">
            <div>
                <button>로그인</button>
                <button>구독권</button>
                <button>이벤트</button>
            </div>
        </nav>
        <nav class="nav-bar2">
            <img src="/project/images/logo2.png" class="logo">
            <div>
                <button>홈</button>
                <button>카테고리</button>
                <button>마이페이지</button>
            </div>
        </nav>
        </div>
    <h1>좋아하는 장르를 선택해주세요.</h1>
    <div class="button-box">
        <button class="btn">
            <span class="btn-txt">#액션</span>
            <span class="btn-genre-box"></span>
            <span class="btn-genre-box"></span>
            <span class="btn-genre-box"></span>
        </button>
    </div>
    <div class="button-box">
        <button class="btn">
            <span class="btn-txt">#로맨스</span>
            <span class="btn-genre-box"></span>
            <span class="btn-genre-box"></span>
            <span class="btn-genre-box"></span>
        </button>
    </div>
    <div class="button-box">
        <button class="btn">
            <span class="btn-txt">#추리</span>
            <span class="btn-genre-box"></span>
            <span class="btn-genre-box"></span>
            <span class="btn-genre-box"></span>
        </button>
    </div>
    <div class="button-box">
        <button class="btn">
            <span class="btn-txt">#에세이</span>
            <span class="btn-genre-box"></span>
            <span class="btn-genre-box"></span>
            <span class="btn-genre-box"></span>
        </button>
    </div>
    <div class="button-box">
        <button class="btn">
            <span class="btn-txt">#교육</span>
            <span class="btn-genre-box"></span>
            <span class="btn-genre-box"></span>
            <span class="btn-genre-box"></span>
        </button>
    </div>
    <div class="button-box">
        <button class="btn">
            <span class="btn-txt">#소설</span>
            <span class="btn-genre-box"></span>
            <span class="btn-genre-box"></span>
            <span class="btn-genre-box"></span>
        </button>
    </div>
    <div class="button-box">
        <button class="btn">
            <span class="btn-txt">#기술</span>
            <span class="btn-genre-box"></span>
            <span class="btn-genre-box"></span>
            <span class="btn-genre-box"></span>
        </button>
    </div>
    <div class="button-box">
        <button class="btn">
            <span class="btn-txt">#인문</span>
            <span class="btn-genre-box"></span>
            <span class="btn-genre-box"></span>
            <span class="btn-genre-box"></span>
        </button>
    </div>
    <div class="button-box">
        <input type="checkbox" class="btn">
            <span class="btn-txt">#경영</span>
            <span class="btn-genre-box"></span>
            <span class="btn-genre-box"></span>
            <span class="btn-genre-box"></span>
        </input>
    </div>
    <div class="button-box">
        <button class="btn">
            <span class="btn-txt">#여행</span>
            <span class="btn-genre-box"></span>
            <span class="btn-genre-box"></span>
            <span class="btn-genre-box"></span>
        </button>
    </div>
    <div class="button-box">
        <button class="btn">
            <span class="btn-txt">#요리</span>
            <span class="btn-genre-box"></span>
            <span class="btn-genre-box"></span>
            <span class="btn-genre-box"></span>
        </button>
    </div>
    <div class="button-box">
        <button class="btn">
            <span class="btn-txt">#건강</span>
            <span class="btn-genre-box"></span>
            <span class="btn-genre-box"></span>
            <span class="btn-genre-box"></span>
        </button>
    </div>

   

    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" id="filter-svg">
    <defs>
        <filter id="goo">
            <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
            <feColorMatrix in="blur" type="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo" />
            <feBlend in="SourceGraphic" in2="goo" />
          </filter>
    </defs>
</svg>

<div class="footer">
    <h2>질문이 있으신가요? 문의 전화: 000-0000-0000</h2>
<div class="row">
    <div class="col">
        <a href="#">FAQ</a>
        <a href="#">Investor Relations</a>
        <a href="#">Privacy</a>
        <a href="#">Speed Test</a>
    </div>
    <div class="col">
        <a href="#">Account</a>
        <a href="#">Ways tp read</a>
        <a href="#">Corporate  Information</a>
        <a href="#">Only on gumoongo</a>
    </div>
    <div class="col">
        <a href="#">Media Centre</a>
        <a href="#">Terms of Use</a>
        <a href="#">Contact Us</a>
    </div>
</div>
<p class="copyright-txt">GumoonGo Korea</p>
</div>

</body>
</html>