<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>회원 가입</title>
	<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
	<link rel="stylesheet" href="/css/join.css">
	
	
</head>
<body>
	<div>
		<table>
			<tr>
				<td>
					<h1>Sign up</h1>
				</td>
			</tr>
			<tr>
				<td>
					<div class="idMsg"></div>
				</td>
				<td>
					아이디
				</td>
				<td>
					<input type="text" class="username" name="username" placeholder="ID를 입력해주세요">
				</td>
			</tr>
			<tr>
				<td>
					<div class="passwordMsg"></div>
				</td>
				<td>
					비밀번호
				</td>
				<td>
					<input type="password" class="password" name="password" placeholder="비밀번호를 입력해주세요.">
				</td>
			</tr>
			<tr>
				<td>
					<div class="emailMsg"></div>
				</td>
				<td>
					Email
				</td>
				<td>
					<input type="email" class="email" name="email" placeholder="email을 입력해주세요.">
				</td>
			</tr>
			<tr>
				<td>
					<div class="ageMsg"></div>
				</td>
				<td>
					나이
				</td>
				<td>
					<input type="text"class="age" name="age" placeholder="나이를 입력해주세요.">
				</td>
			</tr>
			<tr>
				<td>
					<div class="nicknameMsg"></div>
				</td>
				<td>
					Nickname
				</td>
				<td>
					<input type="text" class="nickname" name="nickname" placeholder="별명을 입력해주세요.">
				</td>
			</tr>
			<tr>
				<td>
					<div class="genderMsg"></div>
				</td>
				<td>
					성별
				</td>
				<td>
					<input type="radio" class="gender" name="gender" value="0" > 남성
					<input type="radio" class="gender" name="gender" value="1" > 여성
				</td>
			</tr>
			<tr>
				<td>
					<button type="button" class="okJoin">되라 좀</button>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/member/login">이미 가입되어 있나요?</a>
				</td>
			</tr>
		</table>
	</div>
<script>
		$('.okJoin').click(function () {
			let username = $(".username").val();
			let password = $(".password").val();
			let email = $(".email").val();
			let age = $(".age").val();
			let nickname = $(".nickname").val();
			let gender = $(".gender").val();
			
			let data = {
				"username": username,
				"password": password,
				"email": email,
				"memberGerne": "0",
				"age": age,
				"nickname": nickname,
				"gender": gender,
				"subscribeState" : "year"
			}
			
			$.ajax({
				url: '/member/join',
				contentType: "application/json",
				data: JSON.stringify(data),
				type: "POST",
				dataType: 'text',
				success: function (data) {
					console.log("됫다 " + data);
					
				},
				error: function (jqXHR, textStatus, errorThrown) {
					console.log("왜 안될까" + textStatus);
				}
			});
		}); // .uploadBtn 이벤트 종료
</script>
</body>
</html>


