
/* ---------- header ---------- */
/* .home{
    color: white;
    background-color: #020106;
    background-size: cover;
    height: 100vh;
    width: 100%;
} */

/* ---------- header ----------  */
.header{
    /* background-image: url(/project/images/background.jpg); */
    height: 20vh;
    padding-right: 90px;
    padding-left: 90px;
}
.nav-bar1{
    display: flex;
    align-items: center;
    justify-content:flex-end;
    pad: 10px 0;
    padding-bottom: 10px;
    margin-top: 10px;
    border-bottom: solid 0.001cm #474747;
}
.nav-bar2{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    /* pad: 10px 50px; */

}
.navbox{
    width: 500px;
    display: inline-block;
}
.logo{
    width: 100px;
    cursor: pointer;
    margin-left: -10px;
    margin-right: 10px;
    padding-left: 20px;
    padding-top: 10px;
}
.nav-bar1 button{
    /* display:inline-block; */
    border: 10px;
    outline: 0;
    background: transparent;
    color: #C1C1C1;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 20px;
    margin-right: 10px;
    cursor: pointer;
    font-weight: bolder;
}
.nav-bar2 button{
    border: 0;
    outline: 0;
    background: transparent;
    color: #C1C1C1;
    padding: 6px 10px;
    font-size: 20px;
    border-radius: 20px;
    margin-left: 10px;
    margin-top: 20px;
    cursor: pointer;
    display:inline-block;
}

/* ----------- drop down bar ----------- */
.select-menu{
    width: 100px;
    margin: 0px ;
    display:inline-block;
}
.select-menu .select-btn{
    height: 30px;
    background: transparent;
    color: #C1C1C1;
    padding: 10px;
    font-size: 20px;
    display:inline-block;
    cursor: pointer;
    position:relative;
}
.select-menu.active .select-btn i{
    transform: rotate(-180deg);
}
.select-menu .options{
    position:absolute;
    padding: 20px;
    margin-top: 10px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
    display: none;
    transition: 0.2s;
    /* transform: translateX(); */
}
.select-menu.active .options{
    display: block;
}
.options .option{
    display: flex;
    height: 30px;
    cursor: pointer;
    /* padding: 0 16px; */
    border-radius: 8px;
    align-items: center;
    background: #fff;
}
.options .option:hover{
    background: #f2f2f2;
}
.option .option-text{
    font-size: 13px;
    color: #333;
}

