* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #020106;
    color: #fff;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #020106;
    color: #fff;
}

div {
    background-color: #221f1f;
    display: inline-block;
    padding: 20px;
}