html{
   height: 100%;
}
body{
   margin: 0;
   padding: 0;
   font-family: sans-serif;
   background: #020106;
}
.login-box{
   position: absolute;
   top: 50%;
   left: 50%;
   width: 400px;
   padding: 40px;
   transform: translate(-50%, -50%);
   background: #383838;
   box-sizing: border-box;
   box-shadow: 0 14px 20px rgba(0,0,0,0.6);
   border-radius: 10px;
}
.login-box h2{
   margin: 0 0 30px;
   padding:0;
   color: #fff;
   text-align: center;
}
.login-box .user-box{
   position: relative;
}
.login-box .user-box input{
   width: 100%;
   padding: 10px 0;
   font-size: 15px;
   color: #fff;
   margin-bottom: 30px;
   border: none;
   border-bottom: 1px solid #fff;
   outline: none;
   background: transparent;
}
.login-box .user-box label{
   position: absolute;
   top: 0;
   left: 0;
   padding: 10px 0;
   font-size: 17px;
   color: #fff;
   pointer-events: none;
   transition: .6s;
}
.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label{
   top:-20px;
   left: 0;
   color: rgb(1, 184, 216);
   font-size: 14px;
}
.login-box button{
   position: relative;
   display: inline-block;
   width: 100%;
   padding: 10px 20px;
   color: rgb(1, 184, 216);
   font-size: 16px;
   text-decoration: none;
   text-transform: uppercase;
   overflow: hidden;
   transition: .6s;
   margin-top: 40px;
   letter-spacing: 4px;
   border: none;
   background-color: transparent;
}
.login-box button:hover{
   background: rgb(1, 184, 216);
   color: #fff;
   border-radius: 5px;
}
.login-box a{
   text-decoration: none;
   margin-bottom: 15px;
   color: #c2c2c2;
   font-size: 14px;
}
.login-box a:hover{
   color:rgb(1, 184, 216);
}

