*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nanum Gothic', sans-serif;
}
body{    
    background: #020106;
    color: #fff;
    width: 100%;
    height: 100%;
    width: 100vw;
}
.container{
    max-width: 95%;
    margin: auto;
}
a{
    text-decoration: none;
    transition: 0.5s;
}
img{
    width: 100px;
    height: 100px;
}
ul{ 
    list-style: none;
}
.flex{
    display: flex;
    justify-content: space-between;
}
i{
    cursor: pointer;
    transition: 0.5s;
}







/* ---------- slider ---------- */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);	
html {
    border-top: 5px solid #fff;
    color: #2a2a2a;
}
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
}
#slider {
    position: relative;
    overflow: hidden;
    margin: 20px auto 0 auto;
    border-radius: 18px;
}

#slider ul p{
    position: relative;
    float: left;
    color: white;
}
#slider ul {
    position: relative;
    margin: 0;
    padding: 0;
    height: 200px;
    list-style: none;
}
#slider ul li {
    position: relative;
    /* display: block; */
    float: left;
    margin: 0;
    padding: 0;
    width: 144vh;
    height: 500px;
    background: #ccc;
    text-align: center;
    line-height: 300px;
}
#slider ul .slides{
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}
.slides::before{
    content: '';
    position: absolute;
    left: 0;
    height: 100%;
    background-image: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(20,20,20,1) 35%, rgba(83,100,141,0) 100%);
    width: 160vh;
    z-index: -1;
}

#slider ul #slide1{
    background-image: url(/images/slider1.jpg);
}
#slider ul #slide2{
    background-image: url(/images/slider_shurlockhomes.jpg);
}
#slider ul #slide3{
    background-image: url(/images/slider_slamdunk.jpg);
}
#slider ul #slide4{
    background-image: url(/images/slider5.jpg);
}
#slider ul #slide5{
    background-image: url(/images/slider5.png);
}
#slider ul #slide6{
    background-image: url(/images/slider6.jpg);
}
#slider ul #slide7{
    background-image: url(/images/slider7.png);
}
#slider ul #slide8{
    background-image: url(/images/slider8.png);
}
#slider ul #slide9{
    background-image: url(/images/slider9.png);
}
#slider ul #slide10{
    background-image: url(/images/slider10.png);
}

.slides h1{
    width: 100%;
    height: 150px;
    display: block;
    text-align: left;
    margin-left: 80px;
    padding-top: 80px;
    
}
.slides p{
    width: 100%;
    height: 40px;
    display: block;
    font-size: 20px;
    text-align: left;
    margin-left: 80px;
}
.slides .slide_genre{
    display: block;
    padding-top: 50px;
    text-align: left;
    margin-left: 80px;
    font-size: 14px;
}

a.control_prev, a.control_next {
    position: absolute;
    top: 40%;
    z-index: 999;
    display: block;
    padding: 4% 3%;
    width: auto;
    height: auto;
    background: transparent;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    opacity: 0.8;
    cursor: pointer;
}
a.control_prev:hover, a.control_next:hover {
    opacity: 1;
    -webkit-transition: all 0.2s ease;
}
a.control_prev {
    border-radius: 0 2px 2px 0;
}
a.control_next {
    right: 0;
    border-radius: 2px 0 0 2px;
}
#slider_option {
    position: relative;
    margin: 10px auto;
    width: 160px;
    font-size: 18px;
}


/* ---------- popular ----------  */
section{
    padding-top: 20px;
    padding-bottom: 20px;
}
.heading h2{
    font-size: 30px;
    font-weight: 600;
    color: white;
    display: inline;
}
.heading{
    margin-bottom: 10px;
}
.heading button{
    /* padding: 10px 10px; */
    background-color: black;
    font-size: 15px;
    float: right;
    color: white;
    margin-top: 18px;
    /* margin-bottom: 30px; */
}
.popular{
    color: white;
}
.popular .container{
    margin: 180px;
}
.popular .box{
    position: relative;
    background: #221f1f;
    width: 100%;
    cursor: pointer;
    padding: 20PX;
    overflow: hidden;
    /* border-radius: 5%; */
}
.popular .box .imgbox{
    position: relative;
    height: 280px;
    overflow: hidden;
    /* border-radius: 5%; */
}
.popular .box .imgbox img{
    transition: 0.6s;
    height: auto;
}
.popular .box:hover .imgbox img{
    opacity: 0.4;
    transform: scale(1.2);
}
.watch-btn{
    /* visibility: hidden; */
    display: none;
}
.popular .box:hover .watch-btn{
    position: absolute;
    display: flex;
    align-items: center;
    color: white;
    font-size: 80px;
    top: 105px;
    left: 65px;
    transition: 0.3s;
}
.popular .box .content{
    position: absolute;
    width: 100%;
    top: 30%;
    /* left: 40%; */
    z-index: 2;
}

.popular .icon{
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 10px;
    padding-bottom: 3px;
}
.popular .icon i{
    font-size: 18px;
    margin: 5px;
    padding: 5px;
}
.icon #add-icon{
    font-size: 20px;
}
.icon #heart-icon{
    font-size: 20px;
}
.material-icons-outlined{
    /* font-size: 20px; */
    margin: 5px;
    padding: 5px;
    color: white;
}
.material-icons-outlined:hover,
.material-icons-outlined:focus{
    cursor: pointer;
}
.material-icons-outlined:active{
    transform: scale(0.96);
}
.popular .text{
    padding-top: 10px;
}
.popular .text h3{
    display: block;
}
.popular .description-genre{
    margin: 0;
    margin-bottom: 10px;
}
.popular .description-genre a{
    color: white;
}
.owl-nav span{
    
    font-size: 40px;
    color: white;
    font-weight: bolder;
}
.owl-prev, .owl-next{
    position: absolute;
    top: 35%;

}
.owl-prev{
    left: -60px;
}
.owl-next{
    right: -60px;
}


/* ---------- modal ----------  */
.modal{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.75);
    transition: all 250ms ease-in-out;
    opacity: 1;
    visibility: hidden;
    z-index: 2;
}
.modal--bg{
    visibility: visible;
    opacity: 1;
    z-index: 3;
}
.modal_content{
    position: fixed;
    display: flex;
    left: 25%;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-height: 540px;
    max-width: 960px;
    background-color: #d1d1d1; 
    opacity: 0;
    visibility: hidden;
    transform: translateY(-100px);
    transition: all 400ms ease-in-out;
    z-index: 2;
    overflow:hidden;
    padding-bottom: 10px;
}
.modal_content--show{
    position: fixed;
    /* top: 20%; */
    left: 25%;
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
    z-index: 4;
}
.modal_img{
    padding-left: 20px;
    width: 100%;
    height: 100%;

}
.modal_close{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    color: #212527;
    cursor: pointer;
    transition: all 250ms ease-in-out;
    z-index: 3;
}
.modal_close:hover{
    color: #df4747;
}
.modal_left, .modal_right, .review{
    display: block;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.detail_title, .detail_description{
    text-transform: uppercase;
    color: #3e363f;
    padding-bottom: 20px;
}
.detail_readBtn{
    cursor: pointer;
    background: #16191f;
    color: #edf7f6; 
    text-align: center;
    padding: 10px 20px;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 250ms ease-in-out;
    border-radius: 5px;
}
.detail_readBtn:hover{
    background: #3586ff;
    color: #edf7f6; 
}
.review{
    height: 55vh;
    overflow-y: auto;
}
.review .comment_id, .comment_detail{
    text-transform: uppercase;
    color: #3e363f;
}
.review-add{
    cursor: pointer;
    background: #16191f;
    color: #edf7f6; 
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
    text-transform: uppercase;
    transition: all 250ms ease-in-out;
    border-radius: 5px;
}
.review-add:hover{
    background: #3586ff;
    color: #edf7f6; 
}
.review .review_title{
    width: 200px;
    height: 50px;
    margin-bottom: 5px;
    padding-top: 8px;
    font-size: 23px;
    color: black;
}
.review .comments{
    box-sizing: border-box;
    text-align: center;
    background-color: #C1C1C1;
    border-radius: 5px;
    margin-bottom: 13px;
    font-size: 14px;
}
.review .comment_id{
    padding-bottom: 10px;
    font-size: 16px;
    padding-top: 10px;
}
.review .comment_detail{
    padding-bottom: 20px;
}
.review-write-container{
    width: 100%;
    background: #111;
    padding: 10px 20px;
    border: 1px solid #444;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
}
.review-add:checked ~ form{
    display: block;
}
form header{
    width: 100%;
    font-size: 15px;
    color: #fe7;
    font-weight: 500;
    margin: 5px 0 20px 0;
    text-align: center;
    transition: all 0.2s ease;
}
form .textarea{
    height: 100px;
    width: 100%;
    overflow: hidden;
}
form .textarea textarea{
    height: 100%;
    width: 100%;
    outline: none;
    color: #eee;
    border: 1px solid #333;
    background: #222;
    padding: 10px;
    font-size: 17px;
    resize: none;
}
form .btn{
    height: 45px;
    width: 100%;
    margin: 15px 0;
}
form .btn button{
    height: 100%;
    width: 100%;
    border: 1px solid #444;
    outline: none;
    background: #222;
    color: #999;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}
form .btn button:hover{
    background: #1b1b1b;
}





.detail .icon{
    justify-content: center;
    align-items: center;
    bottom: 0;
    right: 0;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 3px;
}
.detail .icon i,
.detail .icon span{
    padding-top: 10px;
    font-size: 25px;
    padding-right: 5px;
    color: black;
}
