<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
</head>
<body>
    <div class="header">
        <nav class="nav-bar1">
            <div>
                <button>로그인</button>
                <button>구독권</button>
                <button>이벤트</button>
            </div>
        </nav>
        <nav class="nav-bar2">
            <img src="/project/images/logo2.png" class="logo">
            <div>
                <button>홈</button>
                <button>카테고리</button>
                <button>마이페이지</button>
            </div>
        </nav>
    

</div>
</body>
</html>